*{
	font-family: 'Helvetica';
}
h1{
	margin-left: 30px;
}
table {
	margin-left: 20px;
	border: 1px solid black;
	border-spacing: 0;
	margin-bottom: 20px;
}
tr{
	border: 1px solid black;

}
td{
	border: 1px solid black;
	width: 160px;
	padding-left: 10px;
	
}
thead{
	font-weight: bold;
	text-align: center;
}
tbody{
	color: darkcyan;
}

a{
	text-decoration: none;
	margin-left: 20px;
	height: 10px;
	font-size: 20px;
	padding: 0px;
}
	
